<div class="text-center">
<h3>{{kanjiData.keyword}}</h3>
</div>

{{!--START Kanji Stroke Diagram --}}
<div class="kanji-diagram-container text-center">
  <div id="kanji-diagram"></div>
  <div class="kanji-diagram-control">
    <button id="kanji-diagram-backward" class="btn"><i class="fas fa-backward"></i></button>
    <button id="kanji-diagram-stop" class="btn"><i class="fas fa-stop"></i></button>
    <button id="kanji-diagram-play" class="btn"><i class="fas fa-play"></i></button>
    <button id="kanji-diagram-forward" class="btn"><i class="fas fa-forward"></i></button>
    <button id="kanji-diagram-reset" class="btn"><i class="fas fa-redo-alt"></i></button>
  </div>
</div>
<script src="/javascripts/raphael-min.js"></script>
<script src="/javascripts/dmak.js"></script>
<script src="/javascripts/dmakLoader.js"></script>
<script>
  const dmak = new Dmak('{{kanjiData.kanji}}', {
    'element': "kanji-diagram",
    'uri': 'https://kanjivg.tagaini.net/kanjivg/kanji/',
    'step': 0.015,
    'height': 190,
    'width': 190,
    'stroke': { 'attr': { 'stroke': 'random' },
    }
  });
  const play = document.getElementById("kanji-diagram-play");
  play.onclick = function () {
    dmak.render();
  };
  const stop = document.getElementById("kanji-diagram-stop");
  stop.onclick = function () {
    dmak.pause();
  };
  const reset = document.getElementById("kanji-diagram-reset");
  reset.onclick = function () {
    dmak.erase();
  };
  const backward = document.getElementById("kanji-diagram-backward");
  backward.onclick = function () {
    dmak.eraseLastStrokes(1);
  };
  const forward = document.getElementById("kanji-diagram-forward");
  forward.onclick = function () {
    dmak.renderNextStrokes(1);
  };
</script>
{{!-- END Kanji Stroke Diagram --}}

<div class="card-deck text-center">
  <div class="card">
    <div class="card-header">
        Kunyomi
    </div>
    <div class="card-body">
      <p class="card-text">{{kanjiData.kunyomi}}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        Onyomi
    </div>
    <div class="card-body">
      <p class="card-text">{{kanjiData.onyomi}}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        Meanings
    </div>
    <div class="card-body">
      <p class="card-text">{{kanjiData.meaning}}</p>
    </div>
  </div>
</div>

{{#if loggedIn}}
<div class="card" style="margin-top: 2em">
  <div class="card-header text-center">
    Notes
  </div>
  <div class="card-body">
    <form method="POST" action="/note">
      <input type="hidden" class="form-control" name="kanjiId" value="{{kanjiData.rtk_no}}">
      <input type="hidden" class="form-control" name="kanjiChar" value="{{kanjiData.kanji}}">
      <textarea class="form-control" rows="10" maxlength="1500" name="text">{{kanjiData.note}}</textarea>
      <button type="submit" class="btn float-right">Save</button>
    </form>
  </div>
</div>
{{/if}}
